* {
  background-color: teal;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timestamp h1 {
  color: snow;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
}

.form input {
  outline: none;
  border: none;
  border-bottom: 1px solid snow;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  color: snow;
}

.form input::placeholder {
  color: #d1d1d1;
}

.form button {
  outline: none;
  border: none;
  padding: 2px;
  color: snow;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background-color: snow;
  color: teal;
  border-radius: 5px;
}

.output {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  padding-left: 6rem;
}

.output #unix,
.output #utc,
.author {
  color: snow;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
}

.author {
  padding-top: 4rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
